* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --red: #ea5353;
    --cyan: #45d3d3;
    --orange: #fcaf4a;
    --blue: #549ef2;
    --very-dark-blue: #4c4e61;
    --grayish-blue: #a3a5ae;
    --vary-light-gray: #fafafa;
}

html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 18px;
    font-weight: 200;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: auto 290px auto;
    grid-template-rows: 150px 300px;
}

.card-intro p {
    font-size: 12px;
    font-weight: 200;
}

/* .card-all {

} */

.card-intro {
    text-align: center;
    width: 250px;
    height: 200px;
}

.card-main {
    width: 250px;
    height: 200px;
    padding: 20px;
    border-top: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 3px 20px 6px rgb(163, 165, 174, 0.2);
    margin: 20px;
}

.card-main h3 {
    font-size: 16px;
    font-weight: 600;
}

.card-main p {
    font-size: 12px;
    font-weight: 200;
}

.card-main img {
    width: 40px;
    height: 40px;
}


/* FOOTER */

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}